[submodule "data_collection/master-board"]
	path = data_collection/master-board
	url = https://github.com/open-dynamic-robot-initiative/master-board.git
[submodule "data_collection/odri_control_interface"]
	path = data_collection/odri_control_interface
	url = https://github.com/open-dynamic-robot-initiative/odri_control_interface.git
